.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.country {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  min-width: 10em;
  max-width: 30%;
  box-shadow: 0 2px 4px #555;
}

.country-image {
  flex: 1;
}

.country-image img {
  width: 100%;
}

.country-details {
  flex: 2;
}

.country-details h2 {
  margin: 0;
}

.country-details p span:first-child {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .country {
    max-width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

.filters {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
}

label select {
  margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .filters {
    max-width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1em;
  }
}
